header {
  .wrapper-header {
    max-width: 1440px;
    height: 295px;
    background: url("../img/header.png") no-repeat;

    .row {
      padding-top: 39px;
      color: @white;

      .logo-wrapper {

        .img-logo {
          width: 60px;
          height: 60px;
          float: left;

          img {
            width: 59px;
          }
        }

        .logo-text-wrapper {
          margin-left: -25px;
          float: left;
          text-align: center;
          width: 195px;

          .company-name {
            font-family: 'Evolventa Bold';
            color: @red;
            font-size: 30px;
            margin-top: -5px;
            margin-bottom: 0px;
          }

          .company-description {
            font-family: 'Evolventa Regular';
            font-size: 12px;
          }
        }

      }

      .info-wrapper {
        max-width: 340px;

        p {
          font-family: 'Evolventa Oblique';
          font-size: 16px;
          line-height: 26px;
        }
      }

      .contacts-wrapper {
        p {
          font-family: 'Evolventa Bold';
          font-size: 16px;
          line-height: 28px;

          img {
            padding-right: 8px;
          }
        }
      }
    }
  }

  .menu-container {
    text-align: center;

    img {
      height: 100px;
    }
    p {
      font-family: 'Raleway Bold';
      color: @dark-blue;
      text-align: center;
      font-size: 16px;
      padding-top: 30px;
    }
  }
}